body {
  background-size: 700px;
  background-position: left;
  background-attachment: fixed;
  z-index: 0;
  border: none;
  margin: 0;
}

.header {
  background: rgb(111, 122, 138);
  background: linear-gradient(180deg, rgba(111, 122, 138, 1) 0%, rgba(63, 79, 110, 1) 74%, rgba(52, 69, 103, 1) 100%, rgba(111, 122, 138, 1) 100%);
  height: 8em;
  position: fixed;
  top: 0;
  width: 100%;
  border: none;
  z-index: 1;
}

/* Add a black background color to the top navigation */
.topnav {
  display: block;
  overflow: hidden;
  text-align: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.logo {
  position: absolute;
  display: inline-block;
  padding-left: 2em;
  padding-top: .5em;
  z-index: 1;
  height: 7em;
  width: auto;
}

.logo2 {
  position: absolute;
  right: 20px;
  height: 7em;
  width: auto;
  top: .5em;
}

.caligraphy-center {
  display: block;
  left: auto;
  margin: auto;
  width: 100px;
}

.top-container {
  background: rgb(111, 122, 138);
  background: linear-gradient(0deg, rgba(111, 122, 138, 1) 0%, rgba(63, 79, 110, 1) 74%, rgba(52, 69, 103, 1) 100%, rgba(111, 122, 138, 1) 100%);
  padding-top: 6%;
  height: 60em;
  position: relative;
  background:  url("../images/Shaykh.jpeg");
    background-repeat: no-repeat;
  background-size: 100%;
}
.background-layer {
  background: linear-gradient(0deg, rgba(111, 122, 138, 1) 0%, rgba(63, 79, 110, 1) 74%, rgba(52, 69, 103, 1) 100%, rgba(111, 122, 138, 1) 100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
}

.middle-container {
  background: rgb(47, 65, 79);
  background: linear-gradient(0deg, rgba(47, 65, 79, 1) 1%, rgba(31, 135, 104, 1) 26%, rgba(24, 149, 87, 1) 48%, rgba(47, 65, 79, 1) 92%);
  height: 60em;
  margin-top: -2em;
}

.bottom-container {
  background-color: green;
  margin: 0;
  height: 500px;
}

.footer {
  background-color: black;
  margin-top: 0;
}

.seyhim {
  display: block;
  height: 20em;
  opacity: .9;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 90px;
}

.frame {
  display: block;
  height: 22em;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  bottom: 250px;
}

#Rumiquote {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: -200px;
  width: 800px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  color: #FFFFFF;
}
